
h1 {
    text-align: center;
    border: 2px dotted black;
    background-color: #c0511e;
    color: white;
    font-family: "Inconsolata", monospace;
    letter-spacing: 1px;
    }

h2 {
    text-align: center;
    text-decoration: underline;
}

.html_table {
    display: table;
    border: 1px solid black;
    width: 1000px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    }

.html_header {
    border: 1px solid black;
    background-color: #63ad9b;
}


td {
    border: 1px solid black;
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
}

.tag {
    width: 130px;
}

